In [11]:
from langchain_community.utilities import SQLDatabase
from langchain.chat_models import init_chat_model
from langchain import hub
from langgraph.prebuilt import create_react_agent
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from dotenv import load_dotenv
import os

load_dotenv()

True

In [2]:
db = SQLDatabase.from_uri('sqlite:///classicmodels.db')
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

c:\Users\PC\Desktop\sql_agent\venv\Lib\site-packages\langchain_community\utilities\sql_database.py:134: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.SMALLINT'> with reflected arguments ['6']; using no arguments.
  self._metadata.reflect(

In [3]:
print(db.run("SELECT * FROM customers LIMIT 3;"))

[(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, 21000), (112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, 71800), (114, 'Australian Collectors, Co.', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', 1611, 117300)]

In [ ]:
llm = init_chat_model(
    model="openai/gpt-4o-mini",
    model_provider="openai",
    base_url="https://openrouter.ai/api/v1",
    api_key=os.getenv("OPENROUTER_API_KEY"),
)

In [12]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()
print(tools)

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001FA3880D790>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001FA3880D790>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001FA3880D790>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001FA3880D790>, llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x000001FA3BC03FE0>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x000001FA3BC9A270>, root_client=<openai.OpenAI object at 0x000001FA3AE9EBD0>, root_async_client=<openai.AsyncOpenAI object at 0x000001FA3BAB5A00>, model_name='openai/gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********'), openai_api_base='https://openrouter.ai/api/v1'), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x000001FA3BC03FE0>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x000001FA3BC9A270>, root_client=<openai.OpenAI object at 0x000001FA3AE9EBD0>, root_async_client=<openai.AsyncOpenAI object at 0x000001FA3BAB5A00>, model_name='openai/gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********'), openai_api_base='https://openrouter.ai/api/v1'), output_parser=StrOutputParser(), llm_kwargs={}))]

In [13]:
prompt_template = hub.pull('langchain-ai/sql-agent-system-prompt')
prompt_template.messages[0].pretty_print()

c:\Users\PC\Desktop\sql_agent\venv\Lib\site-packages\langsmith\client.py:272: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

================================ System Message ================================

You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables.

In [ ]:
system_message = prompt_template.format(dialect='SQLite', top_k=5)

sql_agent = create_react_agent(llm, tools, prompt=system_message)

In [15]:
query = 'Get the top 10 selling products by quantity'

for event in sql_agent.stream(
    {"messages": ('user', query)},
    stream_mode='values'
):
    event['messages'][-1].pretty_print()

================================ Human Message =================================

Get the top 10 selling products by quantity
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_kWTRZ52zYCgi4LW6nAL7RskF)
 Call ID: call_kWTRZ52zYCgi4LW6nAL7RskF
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

customers, employees, offices, orderdetails, orders, payments, productlines, products
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_kWTRZ52zYCgi4LW6nAL7RskF)
 Call ID: call_kWTRZ52zYCgi4LW6nAL7RskF
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

customers, employees, offices, orderdetails, orders, payments, productlines, products
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_jGcysSrRQoC4WmXstbA0TacK)
 Call ID: call_jGcysSrRQoC4WmXstbA0TacK
  Args:
    table_names: products
  sql_db_schema (call_H47u09VVeKoCnceUU7KwOA3P)
 Call ID: call_H47u09VVeKoCnceUU7KwOA3P
  Args:
    table_names: orderdetails
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE orderdetails (
	"orderNumber" INTEGER,
	"productCode" VARCHAR(15) NOT NULL,
	"quantityOrdered" INTEGER NOT NULL,
	"priceEach" DECIMAL(10, 2) NOT NULL,
	"orderLineNumber" SMALLINT NOT NULL,
	PRIMARY KEY ("orderNumber", "productCode"),
	FOREIGN KEY("orderNumber") REFERENCES orders ("orderNumber"),
	FOREIGN KEY("productCode") REFERENCES products ("productCode")
)

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_jGcysSrRQoC4WmXstbA0TacK)
 Call ID: call_jGcysSrRQoC4WmXstbA0TacK
  Args:
    table_names: products
  sql_db_schema (call_H47u09VVeKoCnceUU7KwOA3P)
 Call ID: call_H47u09VVeKoCnceUU7KwOA3P
  Args:
    table_names: orderdetails
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE orderdetails (
	"orderNumber" INTEGER,
	"productCode" VARCHAR(15) NOT NULL,
	"quantityOrdered" INTEGER NOT NULL,
	"priceEach" DECIMAL(10, 2) NOT NULL,
	"orderLineNumber" SMALLINT NOT NULL,
	PRIMARY KEY ("orderNumber", "productCode"),
	FOREIGN KEY("orderNumber") REFERENCES orders ("orderNumber"),
	FOREIGN KEY("productCode") REFERENCES products ("productCode")
)

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_NobhLIAdMyYYDef4b9iEyO0v)
 Call ID: call_NobhLIAdMyYYDef4b9iEyO0v
  Args:
    query: SELECT od.productCode, SUM(od.quantityOrdered) AS total_quantity
FROM orderdetails od
GROUP BY od.productCode
ORDER BY total_quantity DESC
LIMIT 10;
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_NobhLIAdMyYYDef4b9iEyO0v)
 Call ID: call_NobhLIAdMyYYDef4b9iEyO0v
  Args:
    query: SELECT od.productCode, SUM(od.quantityOrdered) AS total_quantity
FROM orderdetails od
GROUP BY od.productCode
ORDER BY total_quantity DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT od.productCode, SUM(od.quantityOrdered) AS total_quantity
FROM orderdetails od
GROUP BY od.productCode
ORDER BY total_quantity DESC
LIMIT 10;
```
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT od.productCode, SUM(od.quantityOrdered) AS total_quantity
FROM orderdetails od
GROUP BY od.productCode
ORDER BY total_quantity DESC
LIMIT 10;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_S0OrCDk7cZeCTIvSYF1xphHG)
 Call ID: call_S0OrCDk7cZeCTIvSYF1xphHG
  Args:
    query: SELECT od.productCode, SUM(od.quantityOrdered) AS total_quantity
FROM orderdetails od
GROUP BY od.productCode
ORDER BY total_quantity DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('S18_3232', 1808), ('S18_1342', 1111), ('S700_4002', 1085), ('S18_3856', 1076), ('S50_1341', 1074), ('S18_4600', 1061), ('S10_1678', 1057), ('S12_4473', 1056), ('S18_2319', 1053), ('S24_3856', 1052)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_S0OrCDk7cZeCTIvSYF1xphHG)
 Call ID: call_S0OrCDk7cZeCTIvSYF1xphHG
  Args:
    query: SELECT od.productCode, SUM(od.quantityOrdered) AS total_quantity
FROM orderdetails od
GROUP BY od.productCode
ORDER BY total_quantity DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('S18_3232', 1808), ('S18_1342', 1111), ('S700_4002', 1085), ('S18_3856', 1076), ('S50_1341', 1074), ('S18_4600', 1061), ('S10_1678', 1057), ('S12_4473', 1056), ('S18_2319', 1053), ('S24_3856', 1052)]
================================== Ai Message ==================================

The top 10 selling products by quantity are:

1. **Product Code:** S18_3232 - **Total Quantity Sold:** 1808
2. **Product Code:** S18_1342 - **Total Quantity Sold:** 1111
3. **Product Code:** S700_4002 - **Total Quantity Sold:** 1085
4. **Product Code:** S18_3856 - **Total Quantity Sold:** 1076
5. **Product Code:** S50_1341 - **Total Quantity Sold:** 1074
6. **Product Code:** S18_4600 - **Total Quantity Sold:** 1061
7. **Product Code:** S10_1678 - **Total Quantity Sold:** 1057
8. **Product Code:** S12_4473 - **Total Quantity Sold:** 1056
9. **Product Code:** S18_2319 - **Total Quantity Sold:** 1053
10. **Product Code:** S24_3856 - **Total Quantity Sold:** 1052

These figures represent the quantities ordered for each product.
================================== Ai Message ==================================

The top 10 selling products by quantity are:

1. **Product Code:** S18_3232 - **Total Quantity Sold:** 1808
2. **Product Code:** S18_1342 - **Total Quantity Sold:** 1111
3. **Product Code:** S700_4002 - **Total Quantity Sold:** 1085
4. **Product Code:** S18_3856 - **Total Quantity Sold:** 1076
5. **Product Code:** S50_1341 - **Total Quantity Sold:** 1074
6. **Product Code:** S18_4600 - **Total Quantity Sold:** 1061
7. **Product Code:** S10_1678 - **Total Quantity Sold:** 1057
8. **Product Code:** S12_4473 - **Total Quantity Sold:** 1056
9. **Product Code:** S18_2319 - **Total Quantity Sold:** 1053
10. **Product Code:** S24_3856 - **Total Quantity Sold:** 1052

These figures represent the quantities ordered for each product.